*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
body{
    width:100%;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(45deg, #0a0a0a, #3a4452);
}
.container{
    width:350px;
    height:520px;
    padding:20px;
    background-color: transparent;
    border:1px solid #717377;
    border-radius: 20px;
    box-shadow: 0px 3px 15px rgba(113, 115, 119, 0.5) ;
}
.container #inputBox{
    background-color: transparent;
    display: block;
    outline: none;
    border: none;
    color:white;
    font-size:20px;
    width:92%;
    padding:20px 15px ;
    text-align: right;
    margin:20px auto;
    border-radius: 15px;
     box-shadow: 0px 3px 15px rgba(113, 115, 119, 0.5) ;
}
.container .btns{
    display:flex;
    gap:20px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top:40px;
}
button{
    display: block;
    outline:none;
    border:none;
    background-color: transparent;
    width:50px;
    height:50px;
    border-radius: 15px;
    box-shadow: -2px -5px 12px rgba(255, 255, 255, 0.1);
    cursor: pointer;
    color:white;
    font-size: 20px;
}
button#equal{
 background-color:#3b8304 ;
 width:120px;
 height:50px;
  font-size:25px;
}
.operator{
    color: #6dee0a;
}